.loginTable
{
}

.loginTableRowHeader
{
}

.loginTableRowCenter
{
	
}

.loginTableRowFooter
{
	
}

.loginTableHeader
{
	border: 0px;	
}

.loginTableCenter
{
	background-color: #e8e8e8;
	height: 100%;
	width: 100%;	
}

.loginTableHeaderTitle
{
	background-color: #F5F5F5;
	text-align: left;
}

.loginTableHeaderBanner
{
	background-color: #F5F5F5;
	text-align: right;
}

.loginFooter 
{
}

.loginFooterLanguage
{
	text-align: left;
	vertical-align : middle;
	background-color: #F5F5F5;
}

.loginFooterVersion
{
	text-align: right;
	vertical-align : middle;
	background-color: #F5F5F5;
}


