BODY
{
	color: black;
	background-color: white;
	margin: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

TD, TEXTAREA
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}

TD
{
	vertical-align : top;
}

.layout {
	height:90%;
}
.selected
{
	background-color : #114488;
	padding : 2px;
}
.notselected
{
}


span.noevent
{
	text-decoration: none;
	color:white;			
}

a.update
{
	text-decoration: none;
	color:white;			
}
a.contextInHeader
{
	text-decoration: underline;
	color:black;			
}
 
a.event
{
	text-decoration: none;
}

a.contextMenue
{
	text-decoration: none;
	color:white;			
}

A
{
	text-decoration: none;
	color:white;
}

a:hover
{
    text-decoration: underline;
}


DIV.menu
{
	/* overflow: auto; */
	height: 100%;
	width: 100%;
}

TD.lang
{
	text-align:left;
	vertical-align:middle;	
	width: 50%;
}

TD.version
{
	text-align:right;	
	vertical-align:middle;	
	width: 50%;
}

TABLE.langAndVersion
{
	width: 100%;
	text-align:right;	
	font-size: 50%;
	vertical-align:middle;	
}

TABLE.about
{
	height: 70%;
	width: 100%;
}
TD.about
{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: center;	
	color : #828282;
	font-size : 200%;	
}
#mainPanel
{
	width : 100%;
	height : 90%;
}

TD.menuColumn
{
	background-color : #4477bb;
	vertical-align: top;
	border: 2px #000000 solid;
	width: 33%;
}

TD.menuColumn A
{
}

TD.messagesImage
{
	width: 0%;
	vertical-align: middle;
}

TD.messagesSummary
{
	width: 100%;
	vertical-align: middle;
}

 .submenuColumn
{
	vertical-align: top;
	border: 2px #3366CC solid;
	width: 33%;
}


.contentColumn
{
	vertical-align: top;
	border: 2px #CC6633 solid;
	width: 100%;
}

.evenRow
{
	background-color: #eeeeee;
}

.oddRow
{
	background-color: #dddddd;
}

.popup
{
	white-space : nowrap;
	background-color : #4477bb;
	color : white;
	border : 2px #dddddd outset;
	width : 200px;
	visibility:hidden;
	position:absolute;
}

.popuplink
{
	color : white;
}

.error
{
	color : red;	
}
.tabActive
{
	border-top-width:0px;
	border-bottom-width:1px;
	border-right-width:1px;
	border-left-width:0px;
	border-color:#5E5E5E;
	border-style:inset;
	vertical-align:middle;
	background-color:#D9D9D9;
}

.tabNotActive
{
	border-top-width:0px;
	border-bottom-width:1px;
	border-right-width:0px;
	border-left-width:0px;
	border-color:#EDEBEB;
	border-style:solid;
	background-color:#EDEBEB;
	vertical-align:middle;
}
.tabPanel
{
	border-width:0px;
}

.tabDummyRemainder
{
	border-width:0px;
	background:#FFFFFF;
	vertical-align:bottom;	
}

.empty
{
	border-width:0px;
}

.panelWithTabs
{
	border-width:0px;
}

.noBorder
{
	border-width:0px;
	width:100%;
}

table.buttons
{
	border-width:0px;
	width:30%;
}

.activeTab{
	border-top: 2px outset silver;
	border-right: 2px outset silver;
	border-bottom: 0px none;
	border-left: 2px outset silver;
	background-color:#FFFFFF;
	text-align: center;
}

.activeTab input:hover,
.inactiveTab input:hover{
	border-top: orange solid 0px;
}

.activeTab input{
	cursor: pointer;
	background-color: #FFFFFF;
}

.outerTable {
	border-width:1px;
	border-color:C0C0C0;	
}

.mainTable {
	border-width:0px;
	border-color:C0C0C0;	
}

.childTable {
	border-width:0px;
	border-color:C0C0C0;	
}

.tableHeader
{
	text-align:left;	
}

.multiLineContent
{
	vertical-align:middle;
	text-align:left;	
}

.tableFooter
{
	vertical-align:middle;
	text-align:left;	
}

.tableFooterIcon
{
	width:0%;
}
